body {
  font-size: 2.5em; /* Increase overall font size */
}

.register-container {
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center h3 {
  font-size: 1em; /* Increase font size of the title */
}

.btn-primary {
  background-color: #004085;
  border-color: #004085;
  padding: 10px; /* Increase padding */
  font-size: 1em !important; /* Increase font size */
}

.form-control {
  font-size: 0.5em !important; /* Increase font size */
  padding: 15px; /* Increase padding */
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 64, 133, 0.25);
}

label {
  font-size: 0.8em; /* Increase font size */
}

input {
  border: 1px solid black !important;
  margin-bottom: 10px !important;
}
